@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Jura:400,700&subset=cyrillic');

body {
    min-width: 1040px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: #404040;
    background-color: white;
}
.container{
    width: 1020px;
    margin: 0 auto;
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
 }
header{
    background-color: #c3c3c3;
    color:#0defa0;
    background-image: url("../img/header.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact-club{
    padding-top: 30px;
    background-image: url(/img/pesok.jpg);
    
    background-color: rgba(255, 120, 1, 0.72);
}
.contact{
    font-size: 12px;
    background: #252525;
    color: white;
    
}
.contact-left{
    float: left;
    }
.contact-right{
    float: right;
    }
.contact span a{
    color: #ccc;
}
.page-header{
    background: #1a1a1a;  
    height: 60px;
    border-bottom: 1px solid white;
}
.header-top{
   margin: 0 auto;
}
.header-logo{
   float: left;
    text-align: center;
    padding-top: 15px;
      
}
.header-logo b{
    color: red;
}  
.logo-3d{
    padding: 0;
    margin: 5px 0;
}
.header-logo a{
    color:#fff;
    font-size: 22px;
    font-weight: 700;
   }

nav{
    float: right;
    height: auto;
    margin-left: 50px;
}

.main-nav li{
    text-transform: uppercase;
    display: inline-block;
    margin-top:15px ;
    padding-left: 20px;
        }


.main-nav a{
    color: #fff;
    font-size: 16px;
    line-height: 100%;
        
}
.main-nav a:hover {
    text-decoration: underline;
}
.main-nav a:active {
    color: rgba(239, 228, 228, 0.3);
}


            /*header/

/*/
.service{
    padding-top: 80px;
    padding-bottom: 150px;
   }

.section-title {
    margin: 0 ;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    font-family: "Georgia", serif;
    color: rgb(221, 153, 51);
    padding-bottom: 25px; 
    text-align: center;
 }
.service-name{
    font-weight: bold;
    font-size: 18px;
}
.table-one{
    margin-top: 50px;
}
caption{
    padding: 20px;
    padding-bottom: 25px;
}

.feature-title{
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    font-family: "Georgia", serif;
    color: #a38b70;
    text-align: center;
    
}


.feature-item p{
    font-size: 14px;
    display: block;
    padding: 10px;
   }
.service li{
    float: left;
    width: 330px;
    margin: 0;
    text-align: center;
    padding: ;
    border-left: 1px solid #d9d9d9;
}
.service li:first-child{
    border-color: transparent;
}


  /************service/

/*/
.price{
    background: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.price-list-1 tr{
    font-size: 14px;
   }
.price-list-1 th{
    height: 40px;
    vertical-align: middle;
}
.price-list-1 td{
    height: 30px;
}
tr:first-child{
    background: #c4c4c4;
}
tr:nth-child(2){
    background: #d4d4d4;
}

.price-name,
.price-cost{
  font-weight: bold;  
   
}
.price-item tr{
    background: #fff;
    text-align: center;
   
       }
.price-item td{
    height: 20px;
    width: 45px;
    font-size: 14px;
    line-height: 15px;
       }
th,
td{
    border: 1px solid #917e7e;
    padding: 1px ;
     text-align: center;
    vertical-align: middle;
}


th{
    width: 50%;
}
.price-name{
    width: 20%;
}
.price-cost{
    width: 8%;
}
.price-list-2{
    margin-top: 100px;
    
    }
.price-list-2 tr{
    background:#f2f2f2;
}
.text-hint{
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}


.price-item {
    position: relative;
    float: left;
    width: 219px;
    margin-right: 20px;
    font-size: 16px;
    padding-top: 150px;
    padding-right: 10px;
    padding-left: 10px;
    }
.price-item img{
    position: absolute;
    top:-3px;
    left: -3px;
    width: 244px;
    height: 146px;
    padding-bottom: 20px;
}

.price-item:last-child{
    margin-right: none;
}
.price-item table{
    left: -1px;
    position: absolute;
    width: 244px;
    margin-top: 20px;
    }
.table .table-list-2{
    font-weight:;
    font-size: 18px;
}

.price-item td,
.price-item tr:last-child{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
}
.price-item td{
    color: #404040;
    font-weight: bold;
  }
.price-item tr:first-child td{
    max-width: 100px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
.price-tabl{
    margin-top:250px;
}
/**********боковые рамки таблицы с полиграфией****/
.price-tabl  tr .table-name
{
    border-left: 2px double #000;
}
.price-tabl .table-cost{
    border-right: 2px double #000;
}
/****разделительная полоса между чб и цветной печатью***/
table:not(:last-child) tr:nth-child(3) .table-name,
table:not(:last-child) tr:nth-child(5) .table-type,
table:not(:last-child) tr:nth-child(6) .table-quantity,
table:not(:last-child) tr:nth-child(6) .table-cost,
table:last-child tr:nth-child(7),
table:last-child tr:nth-child(6) .table-name{
    border-bottom: 2px solid #000;
}
/*****оформление текста в таблице с полиграфией***/
.price-tabl {
    line-height: 14px;
}
table tr{
    height: 26px;
}
table:last-child tr{
    height: 22px;
}
})
.price-tabl .table-name,
.price-tabl .table-cost{
    font-weight: bold;
    width:
    }

.price-tabl td{
    font-size: 14px;
  
}
.price-tabl table{
    position: relative;
    float: left;
    width: 330px;
    margin-right: 15px;
    padding: 15px 10px;
    vertical-align:;
    }
.price-tabl table:last-child{
    float: right;
}
.price-tabl h3{
    margin-bottom: 25px;
}

.price-item:last-child,
.price-table:last-child{
    margin-right: 0;
}/*******блоконлайн платежа*****/
.online-payment{
    padding-top: 50px;
    padding-bottom: 50px;
   
    
}
.online-block{
    padding-top: 30px;
    margin-left: 285px; 
}
/*****контактная инфа***/
.address{
   position: relative;
    float: left;
    width: 500px;
    margin-right: 20px;
    font-family: "Jura", "Open Sans", sans-serif;
    font-weight: bold;
    vertical-align:middle;
    text-align: center;
    
}
.address:last-child{
    margin-right: 0;
}
.address h3{
    margin-bottom: 20px;
}
.address h4{
    font-size: 24px;
    font-family: "Jura", "Open Sans", sans-serif;
    margin: 10px 0 20px;
}
.address h6{
    font-size: 18px;
    font-family: "Jura", "Open Sans", sans-serif;
    margin: 10px 0 24px;
   
}
.address a{
    color: #ff2d26;
}


/***** оформление таблицы общие тарифы по периметру****/
.price-cost,
th{
    border-right: 2px double #000;
      }

tr:last-child{
    border-bottom: 2px double #000;
}
.price-name,
th{
    border-left: 2px double #000;
}
th{
    border-top: 2px double #000;
}

/*******оформление отзыва*****/
.feedback{
    width: 500px;
    float: right;
}
label{
    padding: 10px;
   
}
input{
    margin-top: 5px;
   
}
.feedback-tip    {
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0;
}

.feedback-form{
    margin-bottom:5px;
}
.feedback-form input{
    width: 100%;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    font-family: "Arial", sans-serif;
}

.feedback-form-group   {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0;
    
}
.feedback-form-left{
    float: left;
    width: 240px;
    margin-right: 10px;
   }
.feedback-form-right{
    float: left;
    width: 240px;
    margin-left: 10px;
   }

select  {
    float: right;
    width: 100%;
    margin-left: 10px;
    height: 35px;
    margin: 10px 0;
    line-height:15px;
    font-size: 15px;
    vertical-align: middle;
}
.feedback-form .btn{
    height: 40px;
    width: 150px;
    vertical-align: middle;
}


footer{
    height: 80px;
    background: #1a1a1a;
    padding: 10px;
    
}
.footer-logo{
    width: 20%;
    float: left;
}
.footer-social{
    padding-top: 5px;
}
.footer-social b{
    color: rgb(221, 153, 51);
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    font-family: "Georgia", serif;
}
footer img {
    padding-top: 10px;
    width: 180px;
    height: 60px;
}

.btn-social{
    background-image: url(../img/sprite-logo.png);
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-repeat: no-repeat;
    
}
.social-btn-vk{
    background-position: -2px -2px;
    }
.social-btn-g{
    background-position: -80px -2px;
    }
.social-btn-you{
    background-position: -160px -2px;
    }
